

:root {
  /* Colors */
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  /* Typography */
  --font-family: 'Inter', sans-serif;
  --font-size-body: 14px;
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Layout Widths */
  --mobile-width: 375px;
  --desktop-width: 1440px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.card {
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--grey-900);
  min-height: 100vh;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
}
.card__conteudo {
  padding: 40px;
  background-color: var(--grey-800);
  max-width: 375px;
  border-radius: 8px;
  text-align: center;
}
.image img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  margin-bottom: 24px;
}
h1 {
  font-size: 24px;
  margin-bottom: 8px;
  font-weight: var(--weight-semibold);
}
h2 {
  font-weight: var(--weight-bold);
  color: var(--green);
  margin-bottom: 24px;
}
p {
  font-weight: var(--weight-regular);
  color: var(--white);
  margin-bottom: 24px;
}
.card__links {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.card__links a {
  display: block;
  background-color: var(--grey-700);
  color: var(--white);
  text-decoration: none;
  font-weight: var(--weight-bold);
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}
.card__links a:hover {
  background-color: var(--green);
  color: var(--grey-900);
}